
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box {
  display: none;
  height: 10vh;
  width: 15vw;
  border: 1px solid blue;
  background-color: green;
  position: relative;
  top: 75px;
  left: 75px;
  margin: 50px;
}


.circle {
  position: relative;
  height: 100px;
  width: 100px;
  border: 1px solid rebeccapurple;
  border-radius: 100%;
  background-color: red;
  top: 150px;
  margin: 25px;
  /* animation: 3s linear infinite alternate change; */
}

@keyframes change {
  0% {
    opacity: .25;
    height: 100px;
    width: 100px;
  }
  25% {
    opacity: .5;
    height: 150px;
    width: 150px;
  }
  50% {
    opacity: .75;
    height: 200px;
    width: 200px;
  }
  75% {
    opacity: 1;
    height: 250px;
    width: 250px;
  }

  100% {
    opacity: 1;
    height: 225px;
    width: 225px;
  }
}


/* .grow {
  transform: scale(3) translate(100%, 50%);
  transition: 3000ms ease-in-out;
} */
